<AuthorizeView>
    <Authorized>
        <span>Hello, @context.User.Identity.Name!</span>
        <a href="logout" class="nav-link btn btn-link">Log out</a>
    </Authorized>
</AuthorizeView>

@code {

}
