<AuthorizeView>
    <Authorized>
        <span>Hello, Ojinnaka!</span>
        <a href="logout" class="nav-link btn btn-link">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="signup">Register</a>
        <a href="loginpage" class="nav-link btn btn-link">Login</a>
    </NotAuthorized>
</AuthorizeView>

@code {

}
