<div class="top-row pl-4 navbar navbar-dark">
    <p class="navbar-brand">Opine
        <AuthorizeView Roles="Admin">
            <Authorized>
                Admin Account
            </Authorized>
        </AuthorizeView>
    </p>
    
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
      
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="signup">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Sign up
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="loginpage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Login page
            </NavLink>
        </li>*@
        <AuthorizeView>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/company/create">
                        <span class="oi oi-plus" aria-hidden="true"></span> Register
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="loginpage">
                        <span class="oi oi-plus" aria-hidden="true"></span> Login
                    </NavLink>
                </li>
            </NotAuthorized>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="dashboard">
                        <!--Match="NavLinkMatch.All"-->
                        <span class="oi oi-home" aria-hidden="true"></span> Dashboard
                    </NavLink>
                </li>
                @*<li class="nav-item px-3">
                    <NavLink class="nav-link" href="dashboard">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Questions
                    </NavLink>
                </li>*@
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="questions">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Questions
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="responses">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Responses
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="question/create">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> QuestionForm
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="token/create">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Create Token
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/tokenlist">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Token List
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="users">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Users
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="company">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Companylist
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="encryptpage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Encrypt
            </NavLink>
        </li>*@


    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
