@page "/token/create"
@inject ITokenRepository tokenRepository
@inject NavigationManager navigationManager
@attribute [Authorize]
<h3>CreateToken</h3>

<TokenForm Token="token" OnValidSubmit="Create" />


@code {
    private Token token = new Token();
    private Guid obj = Guid.NewGuid();

    private async Task Create()
    {
        Console.WriteLine("create method");

        token.TokenId = obj;
        Console.WriteLine(token.TokenId.ToString());
        Console.WriteLine(token.Email);
        Console.WriteLine(token.CompanyId);

        try
        {
            await tokenRepository.CreateToken(token);
            navigationManager.NavigateTo("tokenlist");
        }

        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
        //TokenId
        //Email
        //CompanyId
    }
}

