@page "/loginpage/{TokenId:Guid}"
@inject IAccountsRepository accountsRepository
@inject ICompanyRepository companyRepository
@inject ITokenRepository tokenRepository
@inject ILoginService loginService
@inject NavigationManager navigationManager

<EditForm Model="loginInfo" OnValidSubmit="Login">
    <DataAnnotationsValidator />
    <div class="login div1">
        <div class="logo1div">
            <img class="logo1" src="Images/loginwork.svg" />
        </div>

        <div class="login-h2">
            <h2> Get the answers you need</h2>
        </div>
        <div class="login-pitch">
            <p>
                Get the feedback you need using the best result analysis
                platform.
            </p>
        </div>
    </div>

    <div class="login div2">
        <div class="login-logo">
            <img src="Images/logo.svg" />
        </div>


        <div class="div2-child2">
            <h2>Welcome back</h2>
            <p>Login to manage your account</p>

            <div class="form-group">
                <div>
                    <InputText id="s-useremail" class="form-control border-secondary" placeholder="Email" @bind-Value="@loginInfo.Email" />
                    <ValidationMessage For="@(() => loginInfo.Email)" />
                </div>
            </div>

            <div class="form-group">
                <div>
                    <InputPassword @bind-Value="@loginInfo.Password" />
                    <ValidationMessage For="@(() => loginInfo.Password)" />
                </div>
            </div>

            <div class="login-sign">
                <button type="submit" class="loginsign logbutt">Login</button>
                <button href="/company/create" class="loginsign signbutt">Sign Up</button>
            </div>
        </div>
    </div>



</EditForm>



@code {
    [Parameter] public Guid TokenId { get; set; }

    private UserInfo loginInfo = new UserInfo();


    private async Task Login()
    {
        var userToken = await accountsRepository.Login(loginInfo);
        await loginService.Login(userToken.Token);
        navigationManager.NavigateTo("");
    }
}

    //test@gmail.com
    //Aa123456!