@page "/company/create"
@inject ICompanyRepository companyRepository
@inject NavigationManager navigationManager

<EditForm Model="Company" OnValidSubmit="CreateCompany">
    <DataAnnotationsValidator/>
    <div class="login div1">
        <div class="logo1div">
            <img class="logo1" src="Images/Group.png" />
        </div>

        <div class="login-h2">
            <h2> For your organisation</h2>
        </div>
        <div class="login-pitch">
            <p>
                Manage your company's data with advanced security and
                control, so you can exable your teams to share and
                collaborate safely.
            </p>
        </div>
    </div>


    <div class="login div2">
        <div class="login-logo">
            <img src="Images/logo.svg" />
        </div>


        <div class="div2-child2">
            <h2>Register Company</h2>
            <p>Enter company details to create account</p>
            <div class="form-group">
                <div>
                    <InputText class="form-control border-secondary w-75" placeholder="Company Name" @bind-Value="@Company.CompanyName" />
                    <ValidationMessage For="@(() => Company.CompanyName)"/>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <InputText class="form-control border-secondary w-75" placeholder="Company Email" @bind-Value="@Company.Email" />
                    <ValidationMessage For="@(() => Company.Email)" />
                </div>
            </div>

            <div class="login-sign">
                <button class="btn btn-primary" type="submit">Register</button>
            </div>
        </div>

    </div>


</EditForm>


@code {
    private Company Company = new Company();

    private void CreateCompany()
    {
        try
        {
            //await companyRepository.CreateCompany(company);
            navigationManager.NavigateTo("/signup"); 
        }

        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}

