@page "/dashboard"

<div class="container">
    <div class="d-flex justify-content-center mb-4">
        <div class="dashcontcolor w-50 rounded-lg ">
            <div class="ml-4 pt-4 pb-1">
                <h2>Hello Oj!</h2>
                <p class="mt-n2">It's good to see you</p>
            </div>
        </div>
    </div>    
</div>

<div class="dashboard">
    <img class="cardlinks" src="Images/cardpolls.png" />
    <img class="cardlinks" src="Images/cardresponses.png" />
    <img class="cardlinks" src="Images/cardtopics.png" />
    <img class="cardlinks" src="Images/cardquestions.png" />
</div>

@code {

}
