@page "/dashboard"


<div class="dashboard">
    <img src="Images/cardpolls.png" />
    <img src="Images/cardresponses.png" />
    <img src="Images/cardtopics.png" />
    <img src="Images/cardquestions.png" />
</div>

@code {

}
