

<section class="container">
    <div class="create-survey">
        <button>Create a survey</button>
    </div>

    <div class="d-flex justify-content-center qform">
        <form class="">
            <h2 class="pt-3">TITLE</h2>
            <input placeholder="Title" type="text" id="title" name="title" />

            <h2 class="pt-3">QUESTION</h2>
            <input placeholder="Enter Question" type="text" id="question" name="question" />

            <h2 class="pt-3">OPTIONS</h2>
            <input placeholder="Option A" type="text" id="optiona" name="optiona" />
            <input placeholder="Option B" type="text" id="optionb" name="optionb" />
            <input placeholder="Option C" type="text" id="optionc" name="optionc" />
            <input placeholder="Option D" type="text" id="optiond" name="optiond" />
        </form>
    </div>
</section>




@code {

}
