@page "/opinionpage"
@inject ISendEmailRepository sendEmailRepository
<h3>MailForm</h3>

<button class="btn btn-primary" @onclick="SendMail">Send Mail</button>
<br />

<span stye="font-weight:bold; font-size:28px; color:#c00;">@message</span>

@code {
    private string message { get; set; } = "";
    private SendEmailDTO sendEmailDTO = new SendEmailDTO();

    private void SendMail()
    {
       
    }
}
