@page "/encryptpage"
@using System.Security.Cryptography
@using System.Text 


<EditForm Model="EncryptedPoll" OnSubmit="Encrypt">
    <div class="form-group">
        <div>
            <InputText class="form-control border-secondary w-75" placeholder="Company Name (case-sensitive)" @bind-Value="EncryptedPoll.Option" />

        </div>
    </div>

    <button class="btn btn-primary" type="submit">Encrypt</button>
</EditForm>

@code{
    private EncryptedPoll EncryptedPoll = new EncryptedPoll();

    UnicodeEncoding ByteConverter = new UnicodeEncoding();
    RSACryptoServiceProvider RSA = new RSACryptoServiceProvider();
    byte[] plaintext;
    byte[] encryptedtext;
    string encyptedValue;

    static public byte[] Encryption(byte[] Data, RSAParameters RSAKey, bool DoOAEPPadding)
    {
        try
        {
            byte[] encryptedData;
            using (RSACryptoServiceProvider RSA = new RSACryptoServiceProvider())
            {
                RSA.ImportParameters(RSAKey);
                encryptedData = RSA.Encrypt(Data, DoOAEPPadding);
            }
            return encryptedData;
        }
        catch (CryptographicException e)
        {
            Console.WriteLine(e.Message);
            return null;
        }
    }

    private void Encrypt()
    {
        plaintext = ByteConverter.GetBytes(EncryptedPoll.Option);
        encryptedtext = Encryption(plaintext, RSA.ExportParameters(false), false);
        encyptedValue = ByteConverter.GetString(encryptedtext);
        Console.WriteLine(encyptedValue);
    }
}
