@page "/testui"




@*<a href=""><img class="cardlinks" src="Images/cardpolls.png" /></a>
<a href="responses"><img class="cardlinks" src="Images/cardresponses.png" /></a>
<a href="questions"><img class="cardlinks" src="Images/cardtopics.png" /></a>
<a href="question/create"><img class="cardlinks" src="Images/cardquestions.png" /></a>*@

<div class="container">
        <div class="row justify-content-around">
            <div class="col-md-3 d-flex justify-content-center ">
                <a href="responsepag"><img class="w-100" src="Images/cardpolls.png" /></a>
            </div>
            <div class="col-md-3 d-flex justify-content-center ">
                <a href="responses"><img class="w-100" src="Images/cardresponses.png" /></a>
            </div>
            <div class="w-100"></div>
            <div class="col-md-3 mt-4 d-flex justify-content-center ">
                <a href="questions"><img class="w-100" src="Images/cardtopics.png" /></a>
            </div>
            <div class="col-md-3 mt-4 d-flex justify-content-center ">
                <a href="question/create"><img class="w-100" src="Images/cardquestions.png" /></a>
            </div>
        </div>
</div>
@code {

}
