@page "/testui"

<div>
    <h2>Responses</h2>
    <div class="d-flex flex-column">
        <div class="d-flex flex-column flex-lg-row justify-content-around dashcontcolor questionbg align-items-center px-1 w-100 py-3 mt-3">
            <div>
                <h2>Monthly data subscription</h2>
                <div class="d-flex justify-content-center justify-content-sm-start">
                    <p>by Ojinnaka</p>
                </div>
            </div>
        </div>
    </div>
</div>