@page "/signup"

<div class="login div1">
    <div class="logo1div">
        <img class="logo1" src="Images/signupwork.svg" />
    </div>

    <div class="login-h2">
        <h2> Get the answers you need</h2>
    </div>
    <div class="login-pitch">
        <p>
            Get the feedback you need using the best result analysis
            platform.
        </p>
    </div>
</div>

<div class="login ssdiv2">
    <div class="login-logo">
        <img src="Images/logo.svg" />
    </div>


    <div class="sdiv2-child2">
        <h2>Sign Up</h2>
        <p>Enter your details to create your account</p>
        <form>
            <input placeholder="Fullname" type="text" id="s-username" name="s-username" />
            <input placeholder="Email" type="email" id="s-useremail" name="s-useremail" />
            <input placeholder="Password" type="password" id="s-userpword" name="s-userpword" />
            <input placeholder="Confirm Password" type="password" id="s-userpword" name="s-userpword" />

            <div class="login-sign">
                <button class="loginsign logbutt">Sign Up</button>

            </div>
        </form>
    </div>
</div>


@code {

}
